#addcontact {
	background-color: color(background);
	padding: 2rem;
	border-radius: 20px;
	position: sticky;
	top: 3rem;

	h3 {
		text-transform: uppercase;
		font-size: 1rem;
		padding: 0 0 1rem 0;
		font-weight: 600;
	}

	input {
		width: 100%;
		border: none;
		padding: .6rem;
		margin-top: .5rem;
		margin-bottom: 1.2rem;
		outline: none;
		text-transform: capitalize;
	}

	input[type="email"] {
		text-transform: lowercase;
	}

	textarea {
		width: 100%;
		border: none;
		resize: none;
		outline: none;
		padding: .6rem;
	}

	button {
		@include button;
		width: 100%;
	}
}