#contact {
	background-image: linear-gradient(color(background), color(white));
	padding: 2rem;
	border-radius: 20px;
	position: sticky;
	top: 3rem;

	.contact-header {
		padding-bottom: 2rem;

		.image {
			width: 70px;
			height: 70px;
			background-color: color(text);
			border-radius: 50px;

			.initials {
				color: color(background);
				font-size: 1.6rem;
				line-height: 0px;
				letter-spacing: 0em;
			}

		}

		.details {
			.name {
				color: color(text);
				font-weight: 600;
				font-size: 1.2rem;
			}
		}
	}

	.contact-details {
		padding-bottom: 2rem;

		.detail {
			padding-bottom: 1rem;

			.title {
				font-weight: 500;
			}

			.notes.deet {
				white-space: pre-wrap;
				background-color: color(notes);
				color: color(text);
				padding: 1rem;
				border-radius: 10px;
				margin-top: .5rem;
			}
		}
	}

	button {
		@include button;
		background-color: color(decline);
		float: right;
	}
}