header {
	padding-top: 2rem;
	padding-bottom: 2rem;

	.logo {
		@include logo;
		text-transform: uppercase;
		color: color(text);
		// font-family: $heading;
	}

	.button {
		background-color: color(background);
		color: color(text);
		line-height: 0;
		width: 30px;
		height: 30px;
		border-radius: 50px;
		transition: ease .5s;
		cursor: pointer;

		&::selection {
			background-color: transparent;
		}
	}

	.button-clicked {
		transform: rotate(45deg);
	}
}