@media screen and (max-width: $breakpoint-mp) {

	#jumbotron {
		height: 50vh;

		.info {
			height: 50vh;
		}
	}

	#learn-more {
		.desc {
			width: 90%;
		}
	}

	#reviews {
		.review {
			.review-component {
				margin-bottom: 2rem;
			}
		}
	}

	.app {
		#settings {
			.settings-modal {
				transform: scale(.9,.9);
			}
		}

		main {
			.main.row {
				flex-direction: column-reverse;
			}

			#addcontact,
			#contact,
			#welcome {
				margin-bottom: 2rem;
				position: relative;
				top: 0;
			}

			#welcome {
				display: none !important;
			}

			#addcontact {

				button {
					margin-top: 1.5rem;
				}
			}

			
		}
	}
}